* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 
}

.clear {
  clear: both;
}



h1 {
  font-size: 4 rem;
  text-transform: uppercase;

}

h2 {
  font-size: 4 rem;
  padding: 5 rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 3 rem;
}

nav {
  background: black;
  color: white;
  padding: 3rem;

}


nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0rem 4rem;
}

.hero-section {
  text-align: center;
  color: black;
  padding: 6rem;
  font-size: 3rem;
}

.hero-section button {
  margin-top: 3rem;
  padding: 1rem 4rem;
  background: black;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 1rem;
}

body {
  height: 50%;
  
}

img {
  border-radius: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


section {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  ;
}



