* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}
h1 {
  font-size: 2.5 rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 3.5 rem;
  padding: 5 rem;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1 rem;
}

h3 {
  font-size: 2.8rem;
}
button {
  font-size: 1.8rem;
}

nav {
  background: black;
  color: white;
  padding: 3rem;
}

nav h1 {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
}

nav li {
  float: left;
  margin: 0rem 4rem;
}

.hero-section {
  text-align: center;
  color: rgb(7, 7, 7);
  padding: 6rem;
}

.hero-section button {
  margin-top: 3rem;
  padding: 1rem 4rem;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}

html,
body {
  height: 50%;
}
p {
  text-align: center;
  top: 100%;
}
.sidenav {
  height: 15%;
  width: 200px;
  position: absolute;
  top: 50%;

  left: 10pcx;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover,
.dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
