<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AKCSE Medical Image Analysis</title>
    <link rel="icon" href="{{url_for('static', filename='logo.ico')}}" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='style/member.css')}}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="android-brain_icon-icons.com_66654.ico" />
    <title>AKCSE Medical Image Analysis</title>
  </head>

  <body class="members">
    <header>
      <nav>
        <h1 id="logo">AKCSE Medical Image Analysis</h1>
        <ul>
          <li><a href="{{ url_for('mainPage') }}">Home</a></li>
          <li><a href="{{ url_for('members') }}">Members</a></li>
          <li>
            <a>Project</a>
            <ul>
              <li>
                <a href="{{ url_for('brainMappingDemo') }}"
                  >Demo: Brain Mapping</a
                >
              </li>
              <li>
                <a href="{{ url_for('tumorDetectionDemo') }}"
                  >Demo: Brain Tumor Detection</a
                >
              </li>
              <li>
                <a href="{{ url_for('projectDescription') }}"
                  >Project Description</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <section class="team">
      <h1>OUR TEAM</h1>

      <div class="container">
        <div class="row w-100">
          <div class="col-md-6 profile text-center">
            <img
              src="{{url_for('static', filename='member-SiaHam.png')}}"
              class="image-responsive"
              width="250px"
              height="250px"
            />
            <h2>Sia Ham</h2>
            <p>
              McGill University, Dec 2022 Bachelor of Engineering - Software
              Engineering VP of Software Engineering / Image Segmentation Team
              https://github.com/SiaH319 https://www.linkedin.com/in/sia-ham/
            </p>
          </div>

          <div class="col-md-6 profile text-center">
            <div id="Vision" class="Vision">
              <img
                src="{{url_for('static', filename='')}}"
                class="image-responsive"
                width="250px"
                height="250px"
              />
              <h2>Daniel Kwon</h2>
              <p>
                McGill University, May 2022 Bachelor of Science - NeuroscienceVP
                of Neuroscience / Data Analysis Team
              </p>
            </div>
          </div>

          <div class="col-md-4 profile text-center">
            <div id="Vision" class="Vision">
              <img
                src="{{url_for('static', filename='member-AnnaLi.png')}}"
                class="image-responsive"
                width="250px"
                height="250px"
              />
              <h2>Anna Li</h2>
              <p>
                McGill University, May 2022 Bachelor of Science - Neuroscience
                Image Segmentation Team
              </p>
            </div>
          </div>

          <div class="col-md-4 profile text-center">
            <div id="Vision" class="Vision">
              <img
                src="{{url_for('static', filename='member-RhinaKim.png')}}"
                class="image-responsive"
                width="250px"
                height="250px"
              />
              <h2>Rhina Kim</h2>
              <p>
                Concordia University, June 2022 Bachelor Of Computer Science
                Image Segmentation Team https://github.com/chihiroanihr
                https://www.linkedin.com/in/rhina-kim-568ab3178/
              </p>
            </div>
          </div>

          <div class="col-md-4 profile text-center">
            <div id="Vision" class="Vision">
              <img
                src="{{url_for('static', filename='member-JamesSung.png')}}"
                class="image-responsive"
                width="250px"
                height="250px"
              />
              <h2>James Sung</h2>
              <p>
                McGill University, May 2023 Bachelor of Science - Neuroscience
                Data Analysis Team
                https://www.linkedin.com/in/james-sung-4a1b3a193/
              </p>
            </div>
          </div>

          <div class="col-md-6 profile text-center">
            <div id="Vision" class="Vision">
              <img
                src="{{url_for('static', filename='member-SarahHwang.jpg')}}"
                class="image-responsive"
                width="250px"
                height="250px"
              />
              <h2>Sarah Hwang</h2>
              <p>
                McGill University, May 2023 Bachelor of Science - Anatomy and
                Cell Biology Web Development Team
              </p>
            </div>
          </div>

          <div class="col-md-6 profile text-center">
            <div id="Vision" class="Vision">
              <img
                src="{{url_for('static', filename='member-SorbinKim.jpg')}}"
                class="image-responsive"
                width="250px"
                height="250px"
              />
              <h2>Jessica Sorbin Kim</h2>
              <p>The Avengers/Andriod</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
